# Serveur
NODE_ENV=development
PORT=3001
CLIENT_ORIGIN=http://localhost:5173
GOOGLE_ID=
GOOGLE_SECRET_KEY=
GOOGLE_CALLBACK_URL=http://localhost:3001/api/auth/google/callback

# Base MySQL locale (administrée via phpMyAdmin)
DB_HOST=127.0.0.1
DB_PORT=8889
DB_NAME=draft_auction
DB_USER=root
DB_PASSWORD=root
DB_LOGGING=false
